@import '../../styles/global.scss';

.gallery {
    &:focus {
        outline: none;
    }
}

.galleryList {
    display: flex;
    flex-direction: column;
}

.galleryItem {
    background: rgba(0, 0, 0, 0.3);
    color: black;
    display: block;
    padding: 5%;
    position: relative;
    width: 100%;
}

.fontExample {

}

.removeButton {
    bottom: 20px;
    cursor: pointer;
    position: absolute;
    right: 10%;
    z-index: 999;
}

.toast {
    background: green !important;
    border-radius: 12px;
}

.toastBody {
    padding: 5%;
}
